body {
	background-color: #848A1E;
}

h1, p {
	text-align: center;
	color: #DDE176
}

.breadcrumb {
	background-color: #DDE176 
}

.date-filter-gallery {
	margin-bottom: 10px;
}

img {
  	width: 100%;
  	margin-bottom: 10px; 
}