body {
	background-color: #848A1E;
}

h1, p {
	text-align: center;
	color: #DDE176
}

/* Menu */

.breadcrumb {
	background-color: #DDE176 
}

/* Home Gallery */
.station {
	border-color: #DDE176;
	border-width: 5px;
	border-style: solid;
	border-radius: 10px;
	padding: 10px;
	margin-bottom: 2%;
}


.station-header {
	font-size: 1.4em;
	height: 60px;;
}



/* Detail Weather Station */

.image-header{
	background-color: #DDE176;
	border-radius: 10px;
	/*height: 80px;*/
	margin-bottom: 1%;
	padding-top: 6px;
	padding-bottom: 1px;
}

.image-header > p {
	color: #848A1E;
	font-style: bold;
}

.image-header i {
	font-size: 1.5em;
}

.input-gallery {
	margin-bottom: 10px;
}

.date-filter-gallery {
	margin-bottom: 10px;
}

.image-station {
	
  	margin-bottom: 5%; 
}

.unstyled::-webkit-clear-button,
.unstyled::-webkit-inner-spin-button {
    display: 			none;
	-webkit-appearance: none;
	-moz-appearance: 	none;
	-ms-appearance: 	none;
	-o-appearance: 		none;
	appearance: none;
}

.unstyled-time::-webkit-clear-button {
    display: none;
	-webkit-appearance: none;
	-moz-appearance: 	none;
	-ms-appearance: 	none;
    -o-appearance: 		none;
}


.form-control-1 {width: 100%; margin: 5px 0px;}
