body {
	background-color: #848A1E;
}

h1, p {
	text-align: center;
	color: #DDE176
}

/* Menu */

.breadcrumb {
	background-color: #DDE176 
}

/* Home Gallery */

.station-header {
	font-size: 1.4em;
}

/* Detail Weather Station */

.image-header {
	background-color: #DDE176;
	border-radius: 10px;
}

.image-header > p {
	color: #848A1E;
	font-style: bold;
}

.image-header i {
	font-size: 1.5em;
}

.input-gallery {
	margin-bottom: 10px;
}

.date-filter-gallery {
	margin-bottom: 10px;
}

.image-station {
  	width: 100%;
  	margin-bottom: 10px; 
}