<h1> Station {{sg.stationName}}</h1>
<ol class="breadcrumb">
  <li class="breadcrumb-item">
    <a ui-sref="home">Home</a>
  </li>
  <li class="breadcrumb-item active">{{sg.stationName}}</li>
</ol>
<div class="row date-filter-gallery">
  <div class="col-md-4 input-gallery">
    <input type="date" class="form-control" ng-model="date.start" ng-change="sg.dateChanged()" /> 
  </div>
  <div class="col-md-4 input-gallery">
    <input type="date" class="form-control" ng-model="date.end" ng-change="sg.dateChanged()"> 
  </div>
  <!--
  <div class="col-md-2 input-gallery">
        <input class="form-control"
        moment-picker="sg.timepicker"
        format="HH:mm"
        locale="it"
        hours-start="10"
        ng-model="sg.timepicker"
        ng-model-options="{ updateOn: 'blur' }">  
  </div> 
  !-->
  <div class="col-md-2 col-6 input-gallery">
    <input class="form-control" type="time" ng-model="time.start" min="{{time.minTime}}" max="{{time.maxTime}}" ng-change="sg.timeChanged()">
  </div>
  <div class="col-md-2 col-6 input-gallery">
      <input class="form-control" type="time" ng-model="time.end" min="{{time.minTime}}" max="{{time.maxTime}}" ng-change="sg.timeChanged()">
  </div>
  <!--
  <div class="col-md-2 input-gallery">
    <select class="form-control" ng-model="date.hour"  ng-options="option.value for option in sg.hourSelection" ng-change="sg.hourChanged()"></select>
  </div>
  !-->
</div>
<div class="row">
  <div ng-repeat="image in sg.images" class="col-md-4">
    <div class="image-header">
      <p>{{image.data | date:'dd/MM/yyyy HH:mm:00'}}</p>
      <p>
        <i class="wi wi-thermometer"></i> {{image.temp1_media}} °C
        <i class="wi wi-humidity"></i> {{image.ur1_media}} %
        <i class="wi wi-raindrops"></i> {{image.pioggia}} mm
      </p>
    </div>
    <a href="http://5.249.152.25:81/immagini/{{image.path}}" data-fancybox="images" data-caption="{{image.name}}">
      <img ng-src="http://5.249.152.25:81/immagini/{{image.path}}" alt="" class="lazy image-station img-responsive center-block">
    </a>
  </div>
</div>